name: Automated tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test-on-push:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        torch-version: ["torch==1.13.1", "torch>=2.0"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Install PyTorch
        run: pip install ${{ matrix.torch-version }}
      - name: Install package
        run: pip install -e ".[dev]"
      - name: Run tests (excluding slow tests)
        run: pytest -k "not slow"

  test-on-pull-request:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        torch-version: ["torch==1.13.1", "torch>=2.0"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Install PyTorch
        run: pip install ${{ matrix.torch-version }}
      - run: pip install -e ".[dev]"
      - name: Run all tests
        run: pytest
